.chatInput{
  width: 220px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 0 20px;
  outline: none;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  margin: 0 10px;
}

.chatButton{
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background: #1890ff;
  padding: 4px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}